<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=9">
    <title>@ViewBag.Title</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="copyright" content="Desenvolvido por AMON Consultoria em T.I.">
    @{
        BundleTable.EnableOptimizations = false;
    }

    <!--[if lt IE 9]>
        <script src="@BundleTable.Bundles.ResolveBundleUrl("~/js/ie")"></script>
    <![endif]-->

    @Styles.Render("~/cssbasic")

    <!--[if IE 7]>
        <link href="@BundleTable.Bundles.ResolveBundleUrl("~/cssie")" rel="stylesheet" />
    <![endif]-->

</head>

<body class="smart-style-2">
    <header id="header">

        <!-- Parte Esquerda da Nav/ Grupo da Logo -->
        <div id="logo-group">

            <img class="logo" src="~/Content/img/logos/logo.jpg" alt="Banpara" />

        </div>

        <!-- Parte Direita da Nav/ Grupo dos botões -->
        <div class="pull-right">

        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->

    <!-- MAIN PANEL -->
    <div id="login" role="main">

        <!-- MAIN CONTENT -->
        <div id="content">

            <div class="row">
                <div style="height: 2em;"></div>
            </div>

            @RenderBody()
            @RenderSection("redirect", false)

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

    <!-- Rodape -->

    <footer id="footer">
        <nav class="container">
            <!-- Componente Esquerdo
            <div class="pull-left">
                <div class="btn-header transparent pull-right" style="margin: 15px 5px 0 0; color: white;">
                    <span> </span>
                </div>
            </div> -->

            <!-- Componente Direito -->
            <div class="pull-right">
                <div class="btn-header transparent pull-right" style="margin: 15px 5px 0 0; color: white;">
                    <span><span style="color: #DA251C; font-weight: bold">Banpará </span><i class="glyphicon glyphicon-copyright-mark"></i>&nbsp;Todos os direitos reservados (v1.5.4)</span>
                </div>
            </div>

        </nav>
    </footer>
    <!-- END Rodape -->

    @Scripts.Render("~/js/basico")
    
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/js/adicional")

    <script type="text/javascript">
        // Não remover. Setup do template bootstrap
        $(document).ready(function () {
            pageSetUp();

            timerHora();

            $.get('@Url.Action("ObterHora")', function (data) {
                $("#spHora")
                    .html(data);
            }, "json");
        });

        function timerHora() {
            setInterval(function () {
                $.get('@Url.Action("ObterHora")', function (data) {
                    $("#spHora")
                        .html(data);
                }, "json");
            }, 15000);
        }
    </script>
    <!--[if IE 7]>
        <script type="text/javascript">
        $(document).ready(function () {
            $(".row > .col ").each(function() {
                var i = parseInt($(this).css("width").replace("px", "")) - 100;
                $(this).css("width", i + "px");
            });
        });
    </script>
    <![endif]-->

    </body>
</html>